.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-SvsjutmPTEgj);
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.section__bhquu {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__bhquu > * {
  grid-column: 4;
}
.header:global(.__wab_instance) {
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  position: fixed;
}
.dataFetcher:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.section__rOJx {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-top: 8vh;
  height: 110vh;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__rOJx > * {
  grid-column: 4;
}
.categoryMenu:global(.__wab_instance) {
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.embedHtml__jLfFv:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.httpRestApiFetcher:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.pageMetadataOverride:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__f2Wh {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  transition-property: opacity;
  transition-duration: 0.5s;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  padding: 2vh 15vw 5vh;
}
.freeBox__cxnk {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  align-self: flex-start;
  padding-left: 3vh;
  padding-right: 3vh;
}
.link__fn3 {
  display: flex;
  height: auto;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  cursor: pointer;
  width: auto;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
.h3___31Xe2 {
  font-weight: 400;
  text-align: left;
  line-height: 1;
  font-size: 1.5vh;
  align-self: flex-start;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.h3__mft1X {
  font-weight: 400;
  text-align: left;
  line-height: 1;
  font-size: 1.5vh;
  align-self: flex-start;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__awxSy {
  display: flex;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  cursor: pointer;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
.h3__znmP1 {
  font-size: 1.5vh;
  font-weight: 400;
  text-align: left;
  opacity: 0.8;
  align-self: flex-start;
  line-height: 1;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.h3__rh3Oc {
  font-size: 1.5vh;
  font-weight: 400;
  text-align: left;
  opacity: 0.8;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__yDcWf {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 3vh;
  padding-top: 3vh;
  padding-right: 3vh;
  min-width: 0;
}
.h1 {
  width: 80%;
  height: auto;
  max-width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 3vh;
  font-weight: 700;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: -1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__nm5Ui {
  display: flex;
  position: relative;
  height: 4vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  padding-right: 1vw;
  padding-left: 1vw;
  border-radius: 10px;
}
.h5 {
  height: auto;
  max-width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: 100%;
  min-width: 0;
}
.freeBox__hPlSc {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 45vh;
  max-width: 100%;
  background: var(--token-lH8rUUEt1F7b);
  margin-top: 2vh;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 10px;
  padding: 3vh;
}
.img__g2CRq {
  width: 100%;
  object-fit: cover;
  min-width: 0;
  border-radius: 10px;
}
.img__g2CRq > picture > img {
  object-fit: cover;
}
.freeBox__jvuI {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__f1Qbh {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.img__myHea {
  width: 100%;
  object-fit: cover;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-radius: 10px;
}
.img__myHea > picture > img {
  object-fit: cover;
}
.img___7XWl6 {
  width: 100%;
  object-fit: cover;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-radius: 10px;
}
.img___7XWl6 > picture > img {
  object-fit: cover;
}
.freeBox__inkj1 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.img__xu8Ep {
  width: 100%;
  object-fit: cover;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-radius: 10px;
}
.img__xu8Ep > picture > img {
  object-fit: cover;
}
.freeBox__hvRbn {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
  border-radius: 10px;
}
.img__v6YNj {
  width: 100%;
  object-fit: cover;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  min-width: 0;
  min-height: 0;
  border-radius: 10px;
}
.img__v6YNj > picture > img {
  object-fit: cover;
}
.freeBox__z5BlO {
  display: block;
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
  height: 100%;
  background: #22222299;
  min-width: 0;
  min-height: 0;
}
.text__qJHd9 {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
  height: 100%;
  font-size: 1.5vh;
  color: var(--token-lH8rUUEt1F7b);
  font-weight: 500;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  min-height: 0;
}
.freeBox__ssUjm {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 2vh;
  min-width: 0;
}
.freeBox__jrUjf {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 75%;
  height: auto;
  max-width: 100%;
  position: relative;
}
.freeBox__ceNnq {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 8vh;
  max-width: 100%;
  background: var(--token-lH8rUUEt1F7b);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 10px;
}
.freeBox__tq9Dn {
  width: 25%;
  height: 60%;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  padding-left: 1vw;
  padding-right: 1vw;
  align-self: center;
  border-right: 1px solid #2222224d;
}
.embedHtml___0Pk3M:global(.__wab_instance) {
  object-fit: cover;
  align-self: center;
  display: grid;
  align-content: center;
  justify-items: center;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.embedHtml___0Pk3M > * {
  grid-column: 4;
}
.freeBox__a5JQ7 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  align-self: flex-end;
  min-width: 0;
  min-height: 0;
}
.text__u9MyW {
  position: relative;
  width: 100%;
  height: auto;
  font-size: 8.5%;
  text-align: left;
  line-height: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text__lKfNq {
  position: relative;
  font-size: 13%;
  text-align: left;
  font-weight: 600;
  line-height: 100%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #535353;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__t3Owc {
  width: 25%;
  height: 60%;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  padding-left: 1vw;
  padding-right: 1vw;
  align-self: center;
  border-right: 1px solid #2222224d;
}
.embedHtml__vcSez:global(.__wab_instance) {
  object-fit: cover;
  align-self: center;
}
.freeBox___81HCo {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  align-self: flex-end;
  min-width: 0;
  min-height: 0;
}
.text__pf7Pk {
  position: relative;
  width: 100%;
  height: auto;
  font-size: 8.5%;
  text-align: left;
  line-height: 1;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text___0Zq22 {
  position: relative;
  font-size: 13%;
  text-align: left;
  font-weight: 600;
  line-height: 1;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #535353;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__siiSk {
  width: 25%;
  height: 60%;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  padding-left: 1vw;
  padding-right: 1vw;
  align-self: center;
  border-right: 1px solid #2222224d;
}
.embedHtml___42VIr:global(.__wab_instance) {
  object-fit: cover;
  align-self: center;
}
.freeBox__mjo20 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  align-self: flex-end;
  min-width: 0;
  min-height: 0;
}
.text___4Hmo3 {
  position: relative;
  width: 100%;
  height: auto;
  font-size: 8.5%;
  text-align: left;
  line-height: 1;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text__zU6BI {
  position: relative;
  font-size: 13%;
  text-align: left;
  font-weight: 600;
  line-height: 1;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #535353;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__zKqKy {
  width: 25%;
  height: 60%;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  padding-left: 1vw;
  padding-right: 1vw;
  align-self: center;
}
.embedHtml__soj9Q:global(.__wab_instance) {
  object-fit: cover;
  align-self: center;
}
.freeBox___0CBtC {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  align-self: flex-end;
  min-width: 0;
  min-height: 0;
}
.text__apggn {
  position: relative;
  width: 100%;
  height: auto;
  font-size: 8.5%;
  text-align: left;
  line-height: 1;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text__ywCi {
  position: relative;
  font-size: 13%;
  text-align: left;
  font-weight: 600;
  line-height: 1;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #535353;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__kl0G5 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-lH8rUUEt1F7b);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  border-radius: 10px;
  padding: 3vh;
}
.h4__dk3El {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 1.5vh;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.3;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text__icwwo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 1.5vh;
  font-weight: 400;
  line-height: 1.75;
  text-align: justify;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #535353;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.freeBox__yMqWg {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-lH8rUUEt1F7b);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  border-radius: 10px;
  padding: 3vh;
}
.h4__c8Sq0 {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 1.5vh;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.3;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__h8MNj {
  position: relative;
  width: auto;
  height: auto;
  font-size: 1.75vh;
  font-weight: 600;
  line-height: 1.75;
  text-align: justify;
  color: var(--token-t2smqnuCcP5X);
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__y3Jmw {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 25%;
  max-width: 100%;
  background: var(--token-lH8rUUEt1F7b);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
