.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-SvsjutmPTEgj);
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.section__vf1Np {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__vf1Np > * {
  grid-column: 4;
}
.header:global(.__wab_instance) {
  position: sticky;
  left: 0px;
  top: 0px;
  z-index: 1;
}
.main {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.main > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .main {
    height: 110vh;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .main > * {
    grid-column: 4;
  }
}
.freeBox__a2Bk {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.dashboard {
  display: flex;
  width: 15vw;
  flex-direction: column;
  flex-shrink: 0;
}
.link__jceu2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: var(--token-DbGdjBpQ6R_X);
  height: 6vh;
  cursor: pointer;
  min-width: 0;
  flex-shrink: 0;
}
.h4__k5Ir8 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.link__zsfWe {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: var(--token-DbGdjBpQ6R_X);
  height: 6vh;
  cursor: pointer;
  min-width: 0;
  flex-shrink: 0;
}
.h4__oY6Fh {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.link__pS5 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: var(--token-DbGdjBpQ6R_X);
  height: 6vh;
  cursor: pointer;
  min-width: 0;
  flex-shrink: 0;
}
.h4__g1SO {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.link__oIfBs {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: var(--token-DbGdjBpQ6R_X);
  height: 6vh;
  cursor: pointer;
  min-width: 0;
  flex-shrink: 0;
}
.h4__jgQx3 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.link__nbl28 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: var(--token-DbGdjBpQ6R_X);
  height: 6vh;
  cursor: pointer;
  min-width: 0;
  flex-shrink: 0;
}
.h4__dUBtn {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.body {
  display: flex;
  width: 85vw;
  flex-direction: column;
  flex-shrink: 0;
}
.aktivity {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  min-width: 0;
  -webkit-transition-property: opacity;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
  padding: 3vh 5vw 5vh 3vw;
}
.freeBox__daaT {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.freeBox__daaT > * {
  grid-column: 4;
}
.h3__o4FLf {
  width: 100%;
  height: auto;
  max-width: 100%;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.15s;
  padding-bottom: 2vh;
  min-width: 0;
  -webkit-transition-property: opacity;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-delay: 0.15s;
}
.form:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox__i1DMl {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.left {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background: var(--token-lH8rUUEt1F7b);
  min-width: 0;
  border-radius: 10px;
  padding: 3vh 2vw 5vh;
}
.freeBox___7YtB {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__nHlj0 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nHlj0 {
    display: flex;
    flex-direction: column;
  }
}
.h4__ff1Qb {
  width: 17.5%;
  height: auto;
  font-size: 1.25vh;
  align-self: center;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4__ff1Qb {
    width: 100%;
    align-self: flex-start;
    min-width: 0;
  }
}
.formField__fbLk3:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.name:global(.__wab_instance) {
  max-width: 100%;
}
.svg__wq1VF {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__p78Et {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__cJeyV {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cJeyV {
    display: flex;
    flex-direction: column;
  }
}
.h4__szAt3 {
  width: 17.5%;
  font-size: 1.25vh;
  align-self: center;
  flex-shrink: 0;
  flex-grow: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4__szAt3 {
    width: 100%;
    align-self: flex-start;
    min-width: 0;
  }
}
.date2:global(.__wab_instance) {
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.h4___9KOfC {
  width: 17.5%;
  font-size: 1.25vh;
  align-self: center;
  flex-shrink: 0;
  flex-grow: 0;
  margin-left: 1vw;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4___9KOfC {
    width: 100%;
    min-width: 0;
  }
}
.formField__qBlkz:global(.__wab_instance) {
  flex-shrink: 1;
  width: 100%;
  height: auto;
  position: relative;
  min-width: 0;
}
.repeat:global(.__wab_instance) {
  object-fit: cover;
  width: 100%;
  height: 3vh;
  min-width: 0;
}
.repeat :global(.ant-select-selector):global(.ant-select-selector) {
  color: var(--token-2-Zse-9pAL_o);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.25vh;
  background: var(--token-DbGdjBpQ6R_X);
  outline: none;
}
.repeat
  :global(.ant-select-selector)
  :global(.ant-select-selection-placeholder) {
  color: #22222266;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.15vh;
  font-style: italic;
  outline: none;
}
.pcls_Om_v-06SWh21 {
  font-family: "Inter", sans-serif;
  color: var(--token-2-Zse-9pAL_o);
  font-weight: 600;
  font-size: 1.5vh;
  outline: none;
}
.repeat__popup:global(.ant-select-dropdown) :global(.ant-select-item-option) {
  color: var(--token-2-Zse-9pAL_o);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.25vh;
  outline: none;
}
.text__yiucp {
  font-weight: 600;
  font-size: 1.15vh;
  font-family: "Inter", sans-serif;
}
.freeBox___5XLpJ {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5XLpJ {
    display: flex;
    flex-direction: column;
  }
}
.h4__iwrMe {
  width: 17.5%;
  font-size: 1.25vh;
  align-self: center;
  flex-shrink: 0;
  flex-grow: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4__iwrMe {
    width: 100%;
    min-width: 0;
  }
}
.startTime:global(.__wab_instance) {
  max-width: 100%;
}
.svg__snxb9 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__jZPei {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.h4__hngC4 {
  width: 17.5%;
  font-size: 1.25vh;
  align-self: center;
  flex-shrink: 0;
  flex-grow: 0;
  margin-left: 1vw;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4__hngC4 {
    width: 100%;
    min-width: 0;
  }
}
.duration:global(.__wab_instance) {
  max-width: 100%;
}
.svg__mhElx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__ll1Gc {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__phPqW {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__phPqW {
    display: flex;
    flex-direction: column;
  }
}
.h4__pRbq5 {
  width: 17.5%;
  font-size: 1.25vh;
  flex-shrink: 0;
  flex-grow: 0;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4__pRbq5 {
    width: 100%;
    min-width: 0;
  }
}
.capacity:global(.__wab_instance) {
  max-width: 100%;
}
.svg__gycs9 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__pb0Tz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.h4__hZqF {
  width: 17.5%;
  font-size: 1.25vh;
  flex-shrink: 0;
  flex-grow: 0;
  margin-left: 1vw;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4__hZqF {
    width: 100%;
    min-width: 0;
  }
}
.formField__q97:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.priceSelect:global(.__wab_instance) {
  object-fit: cover;
  width: 100%;
  height: 3vh;
  min-width: 0;
}
.priceSelect :global(.ant-select-selector):global(.ant-select-selector) {
  background: var(--token-DbGdjBpQ6R_X);
  color: var(--token-2-Zse-9pAL_o);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.25vh;
  outline: none;
}
.priceSelect
  :global(.ant-select-selector)
  :global(.ant-select-selection-placeholder) {
  color: #22222266;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.15vh;
  font-style: italic;
  outline: none;
}
.pcls_fD4TifeBLTca {
  font-family: "Inter", sans-serif;
  color: var(--token-2-Zse-9pAL_o);
  font-weight: 600;
  font-size: 1.5vh;
  outline: none;
}
.priceSelect__popup:global(.ant-select-dropdown)
  :global(.ant-select-item-option) {
  color: var(--token-2-Zse-9pAL_o);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.25vh;
  outline: none;
}
.text__mBa5L {
  font-weight: 600;
  font-size: 1.15vh;
  font-family: "Inter", sans-serif;
}
.freeBox___1P4P {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 50%;
  align-self: flex-end;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1P4P {
    display: flex;
    flex-direction: column;
  }
}
.h4__qq6Bd {
  width: 35%;
  font-size: 1.25vh;
  flex-shrink: 0;
  flex-grow: 0;
  align-self: center;
  margin-left: 0.5vw;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4__qq6Bd {
    width: 100%;
    min-width: 0;
  }
}
.setPrice:global(.__wab_instance) {
  max-width: 100%;
}
.svg__h6F0K {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__gr1J2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__hLthd {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hLthd {
    display: flex;
    flex-direction: column;
  }
}
.h4__kFw3 {
  width: 17.5%;
  font-size: 1.25vh;
  flex-shrink: 0;
  flex-grow: 0;
  align-self: center;
}
.freeBox__bnhL {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bnhL {
    display: flex;
    flex-direction: column;
  }
}
.checkbox:global(.__wab_instance) {
  object-fit: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  width: 25%;
  flex-shrink: 0;
  padding-bottom: 0.5vh;
}
@media (min-width: 0px) and (max-width: 768px) {
  .checkbox:global(.__wab_instance) {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 0;
  }
}
.text__kj2L9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 1.15vh;
  min-width: 0;
}
.checkbox2:global(.__wab_instance) {
  object-fit: cover;
  width: 25%;
  flex-shrink: 0;
  padding-bottom: 0.5vh;
}
@media (min-width: 0px) and (max-width: 768px) {
  .checkbox2:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.text__yQlAd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 1.15vh;
  min-width: 0;
}
.checkbox3:global(.__wab_instance) {
  object-fit: cover;
  width: 25%;
  flex-shrink: 0;
  padding-bottom: 0.5vh;
}
@media (min-width: 0px) and (max-width: 768px) {
  .checkbox3:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.text__gJrcC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 1.15vh;
  font-weight: 600;
  min-width: 0;
}
.checkbox4:global(.__wab_instance) {
  object-fit: cover;
  width: 25%;
  flex-shrink: 0;
  padding-bottom: 0.5vh;
}
@media (min-width: 0px) and (max-width: 768px) {
  .checkbox4:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.text__oDqd5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 1.15vh;
  font-weight: 600;
  min-width: 0;
}
.checkbox5:global(.__wab_instance) {
  object-fit: cover;
  width: 25%;
  flex-shrink: 0;
  padding-bottom: 0.5vh;
}
@media (min-width: 0px) and (max-width: 768px) {
  .checkbox5:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.text__ceNq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 1.15vh;
  font-weight: 600;
  min-width: 0;
}
.checkbox6:global(.__wab_instance) {
  object-fit: cover;
  width: 25%;
  flex-shrink: 0;
  padding-bottom: 0.5vh;
}
@media (min-width: 0px) and (max-width: 768px) {
  .checkbox6:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.text___74R4D {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 1.15vh;
  font-weight: 600;
  min-width: 0;
}
.checkbox7:global(.__wab_instance) {
  object-fit: cover;
  width: 25%;
  flex-shrink: 0;
  padding-bottom: 0.5vh;
}
@media (min-width: 0px) and (max-width: 768px) {
  .checkbox7:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.text___7MqB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 1.15vh;
  font-weight: 600;
  min-width: 0;
}
.checkbox8:global(.__wab_instance) {
  object-fit: cover;
  width: 25%;
  flex-shrink: 0;
  padding-bottom: 0.5vh;
}
@media (min-width: 0px) and (max-width: 768px) {
  .checkbox8:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.text__f6UQk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 1.15vh;
  font-weight: 600;
  min-width: 0;
}
.freeBox__hb8N {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 3vh;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hb8N {
    display: flex;
    flex-direction: column;
  }
}
.h4___3K1B {
  width: 17.5%;
  font-size: 1.25vh;
  align-self: flex-end;
  flex-shrink: 0;
  flex-grow: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4___3K1B {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__rZF8 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rZF8 {
    display: flex;
    flex-direction: column;
  }
}
.h4__iyIr {
  width: 17.5%;
  font-size: 1.25vh;
  flex-shrink: 0;
  flex-grow: 0;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4__iyIr {
    width: 100%;
    min-width: 0;
  }
}
.street:global(.__wab_instance) {
  max-width: 100%;
}
.svg__r2Fe8 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___73Mdp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__yOlz {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yOlz {
    display: flex;
    flex-direction: column;
  }
}
.h4__sJeVh {
  width: 17.5%;
  font-size: 1.25vh;
  flex-shrink: 0;
  flex-grow: 0;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4__sJeVh {
    width: 100%;
    min-width: 0;
  }
}
.formField__c0GMx:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.citySelect:global(.__wab_instance) {
  object-fit: cover;
  width: 100%;
  height: 3vh;
  min-width: 0;
}
.citySelect :global(.ant-select-selector):global(.ant-select-selector) {
  background: var(--token-DbGdjBpQ6R_X);
  color: var(--token-2-Zse-9pAL_o);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.25vh;
  outline: none;
}
.citySelect
  :global(.ant-select-selector)
  :global(.ant-select-selection-placeholder) {
  color: #22222266;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.25vh;
  outline: none;
}
.pcls_nu7SzdC7KJgm {
  font-family: "Inter", sans-serif;
  color: var(--token-2-Zse-9pAL_o);
  font-weight: 600;
  font-size: 1.5vh;
  outline: none;
}
.citySelect__popup:global(.ant-select-dropdown)
  :global(.ant-select-item-option) {
  color: var(--token-2-Zse-9pAL_o);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.25vh;
  outline: none;
}
.text__olpwQ {
  font-weight: 600;
  font-size: 1.15vh;
  font-family: "Inter", sans-serif;
  font-style: italic;
}
.h4__nes3 {
  width: 17.5%;
  font-size: 1.25vh;
  flex-shrink: 0;
  flex-grow: 0;
  margin-left: 1vw;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4__nes3 {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__kVzyf {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.adPop:global(.__wab_instance) {
  max-width: 100%;
  width: 66%;
}
.svg__wgXtm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__y1GQl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.h4__wsgEg {
  font-size: 1.25vh;
  align-self: center;
  flex-shrink: 0;
  flex-grow: 0;
}
.adOr:global(.__wab_instance) {
  max-width: 100%;
  width: 34%;
}
.svg___4PUsT {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__vWg2H {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___00D0S {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___00D0S {
    display: flex;
    flex-direction: column;
  }
}
.h4__fdfWv {
  width: 17.5%;
  font-size: 1.25vh;
  flex-shrink: 0;
  flex-grow: 0;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4__fdfWv {
    width: 100%;
    min-width: 0;
  }
}
.categorySelect:global(.__wab_instance) {
  object-fit: cover;
  width: 100%;
  height: 3vh;
  min-width: 0;
}
.categorySelect :global(.ant-select-selector):global(.ant-select-selector) {
  background: var(--token-DbGdjBpQ6R_X);
  color: var(--token-2-Zse-9pAL_o);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.25vh;
  outline: none;
}
.categorySelect
  :global(.ant-select-selector)
  :global(.ant-select-selection-placeholder) {
  color: #22222266;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.25vh;
  outline: none;
}
.pcls_hEVpS0KpP6iX {
  font-family: "Inter", sans-serif;
  color: var(--token-2-Zse-9pAL_o);
  font-weight: 600;
  font-size: 1.5vh;
  outline: none;
}
.categorySelect__popup:global(.ant-select-dropdown)
  :global(.ant-select-item-option) {
  color: var(--token-2-Zse-9pAL_o);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.25vh;
  outline: none;
}
.text__g82U {
  font-weight: 600;
  font-size: 1.15vh;
  font-family: "Inter", sans-serif;
  font-style: italic;
}
.h4__hbqza {
  width: 17.5%;
  font-size: 1.25vh;
  flex-shrink: 0;
  flex-grow: 0;
  margin-left: 1vw;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4__hbqza {
    width: 100%;
    min-width: 0;
  }
}
.subCategory:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.subCategorySelect:global(.__wab_instance) {
  object-fit: cover;
  width: 100%;
  height: 3vh;
  min-width: 0;
}
.subCategorySelect :global(.ant-select-selector):global(.ant-select-selector) {
  background: var(--token-DbGdjBpQ6R_X);
  color: var(--token-2-Zse-9pAL_o);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.25vh;
  outline: none;
}
.subCategorySelect
  :global(.ant-select-selector)
  :global(.ant-select-selection-placeholder) {
  color: #22222266;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.25vh;
  outline: none;
}
.pcls__U9o0mkBOHsz {
  font-family: "Inter", sans-serif;
  color: var(--token-2-Zse-9pAL_o);
  font-weight: 600;
  font-size: 1.5vh;
  outline: none;
}
.subCategorySelect__popup:global(.ant-select-dropdown)
  :global(.ant-select-item-option) {
  color: var(--token-2-Zse-9pAL_o);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.25vh;
  outline: none;
}
.text__qNal3 {
  font-weight: 600;
  font-size: 1.15vh;
  font-family: "Inter", sans-serif;
  font-style: italic;
}
.text__dj28O {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__l9XrL {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-shrink: 0;
  padding-bottom: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__l9XrL {
    display: flex;
    flex-direction: column;
  }
}
.h4__vcx2I {
  width: 17.5%;
  font-size: 1.25vh;
  flex-shrink: 0;
  flex-grow: 0;
  position: relative;
  align-self: center;
}
.formField__zZed2:global(.__wab_instance) {
  object-fit: cover;
  position: relative;
  width: 100%;
  flex-shrink: 1;
  flex-grow: 0;
  min-width: 0;
}
.description:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___7HpcX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.right {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  background: var(--token-lH8rUUEt1F7b);
  min-width: 0;
  border-radius: 10px;
  padding: 3vh 2vw 5vh;
}
.freeBox___8KitG {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 3vh;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8KitG {
    display: flex;
    flex-direction: column;
  }
}
.h4__z8XpK {
  width: 100%;
  height: auto;
  font-size: 1.25vh;
  align-self: center;
  flex-shrink: 0;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4__z8XpK {
    width: 100%;
    align-self: flex-start;
    min-width: 0;
  }
}
.formField__zqvi9:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.text__b1Y5N {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.section__y6Vh7 {
  display: flex;
  position: relative;
  width: 40%;
  flex-direction: row;
  height: 15vh;
  justify-content: center;
  align-items: center;
  background: var(--token-DbGdjBpQ6R_X);
  overflow: hidden;
  border-radius: 5px;
}
.button__fuD5A:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__vIoCq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.img__b9Fer {
  object-fit: cover;
  z-index: 1;
  position: absolute;
  max-width: 100%;
}
.img__b9Fer > picture > img {
  object-fit: cover;
}
.button__hidry:global(.__wab_instance) {
  object-fit: cover;
  max-width: 100%;
  transform: scaleX(0.75) scaleY(0.75) scaleZ(0.75);
  margin-right: 0.25vw;
  margin-top: 0.25vh;
  z-index: 2;
  right: 0;
  top: 0;
  position: absolute;
  transform-origin: 100% 0%;
  transform-style: preserve-3d;
}
.button__hidry * {
  transform-style: preserve-3d;
}
.text__w4RTn {
  position: relative;
  height: auto;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.freeBox__d4VsA {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 0px;
  opacity: 0;
  height: 0px;
  flex-shrink: 0;
  display: none;
}
.uploadImage:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: none;
}
.freeBox__uo2BA {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 3vh;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uo2BA {
    display: flex;
    flex-direction: column;
  }
}
.h4__qoYxG {
  height: auto;
  font-size: 1.25vh;
  align-self: center;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4__qoYxG {
    width: 100%;
    align-self: flex-start;
    min-width: 0;
  }
}
.button__n3LFp:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  transform: scaleX(0.75) scaleY(0.75) scaleZ(0.75);
  transform-style: preserve-3d;
}
.button__n3LFp * {
  transform-style: preserve-3d;
}
.text__geErj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___0PbTe {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
  min-width: 0;
}
.frame {
  display: flex;
  width: 18.5%;
  flex-direction: row;
  height: 8vh;
  justify-content: center;
  align-items: center;
  background: var(--token-DbGdjBpQ6R_X);
  overflow: hidden;
  border-radius: 5px;
}
.frame3 {
  display: flex;
  width: 100%;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-DbGdjBpQ6R_X);
  overflow: hidden;
  min-width: 0;
  min-height: 0;
  border-radius: 5px;
}
.img__ca9S8 {
  object-fit: cover;
  max-width: 100%;
  z-index: 1;
  position: absolute;
  width: 100%;
  min-width: 0;
}
.img__ca9S8 > picture > img {
  object-fit: cover;
}
.button__ud3Tm:global(.__wab_instance) {
  object-fit: cover;
  max-width: 100%;
  transform: scaleX(0.75) scaleY(0.75) scaleZ(0.75);
  margin-right: 0.25vw;
  margin-top: 0.25vh;
  z-index: 2;
  top: 0;
  position: absolute;
  transform-origin: 100% 0%;
  right: 0;
  transform-style: preserve-3d;
}
.button__ud3Tm * {
  transform-style: preserve-3d;
}
.text__ri50Z {
  position: relative;
  height: auto;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.frame2 {
  display: flex;
  width: 18.5%;
  flex-direction: row;
  height: 8vh;
  justify-content: center;
  align-items: center;
  background: var(--token-DbGdjBpQ6R_X);
  overflow: hidden;
  border-radius: 5px;
}
.upload3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.uploadImagesButton:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__r5U32 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___5Fkv9 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 0px;
  opacity: 0;
  height: 0px;
  flex-shrink: 0;
}
.uploadImages:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button__bcW0P:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  margin-top: 2vh;
}
.text__enXA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.left2 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  background: var(--token-lH8rUUEt1F7b);
  margin-top: 3vh;
  border-radius: 10px;
  padding: 3vh 2vw 5vh;
}
.httpRestApiFetcher:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.freeBox__cWlsf {
  display: flex;
  position: relative;
  height: auto;
  max-width: 100%;
  align-self: center;
  background: var(--token-lH8rUUEt1F7b);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  width: auto;
  -webkit-transition-property: opacity;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 1s;
  border-radius: 10vh;
  padding: 2vh 3vh 6vh;
}
.h3__csusy {
  width: 75%;
  height: auto;
  font-size: 2vh;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-align: center;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-bottom: 3vh;
  padding-top: 3vh;
  border-bottom: 2px solid #00000054;
}
.h3__wMlQk {
  width: 75%;
  height: auto;
  font-size: 2vh;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-align: center;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-bottom: 3vh;
  padding-top: 3vh;
}
.freeBox___8Shw5 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  align-self: center;
  width: 75%;
}
.freeBox___1Smfz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text__k3BG8 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 1.5vh;
  min-width: 0;
}
.button__bnk02:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  background: var(--token-WxvvgatuPYoJ);
  color: var(--token-O-63NKRcNhLJ);
}
.text__h3SVz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__zPrly {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 1.5vh;
  min-width: 0;
}
.text__t3Obk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 1.5vh;
  min-width: 0;
}
