.ariaComboBox:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  row-gap: var(--token-w3ckJmqTKFoR);
}
.ariaComboBox[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.freeBox__zvh6Q {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
}
.ariaInput:global(.__wab_instance) {
  box-shadow: inset 0px 0px 0px 1px var(--token-thI-BLH43VNI);
  width: 100%;
  font-size: var(--token-nePE6FxtjySY);
  line-height: var(--token-T1kY_QqCmcpM);
  outline-style: none;
  min-width: 0;
  border-radius: var(--token--0VrMncooq1c);
  padding: var(--token--0VrMncooq1c) var(--token-ZyXGEcWjRSZD)
    var(--token--0VrMncooq1c) var(--token-ajjfVOA5tLDi);
  border-style: none;
}
.ariaButton:global(.__wab_instance) {
  box-sizing: border-box;
  cursor: pointer;
  object-fit: cover;
  background: none;
  position: absolute;
  right: 0;
  width: var(--token-ZyXGEcWjRSZD);
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--token-ZyXGEcWjRSZD);
  flex-shrink: 0;
  border-radius: var(--token--0VrMncooq1c);
  padding: var(--token--0VrMncooq1c) var(--token-ajjfVOA5tLDi);
  border: 1px none black;
}
.freeBox__x8Nh8 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.svg {
  width: var(--token-7mMi7M_CM3CB);
  height: var(--token-7mMi7M_CM3CB);
  flex-shrink: 0;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__vZkI4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
