.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-SvsjutmPTEgj);
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.section__bhquu {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__bhquu > * {
  grid-column: 4;
}
.header:global(.__wab_instance) {
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  position: fixed;
}
.section__rOJx {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-top: 8vh;
  background: var(--token-SvsjutmPTEgj);
  height: 110vh;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__rOJx > * {
  grid-column: 4;
}
.categoryMenu:global(.__wab_instance) {
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.httpRestApiFetcher:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.embedHtml__jLfFv:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.pageMetadataOverride:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__hGT {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  transition-property: opacity;
  transition-duration: 0.5s;
  background: var(--token-SvsjutmPTEgj);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  padding: 2vh 15vw 5vh;
}
.freeBox___3Kqa4 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  align-self: flex-start;
  padding-left: 3vh;
  padding-right: 3vh;
}
.link__iZfL {
  display: flex;
  height: auto;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  cursor: pointer;
  width: auto;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
.h3__s2S02 {
  font-weight: 400;
  text-align: left;
  line-height: 1;
  font-size: 1.5vh;
  align-self: flex-start;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.h3___4K6Ij {
  font-weight: 400;
  text-align: left;
  line-height: 1;
  font-size: 1.5vh;
  align-self: flex-start;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__dw9GO {
  display: flex;
  height: auto;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  cursor: pointer;
  width: auto;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
.h3__ryHap {
  font-weight: 400;
  text-align: left;
  line-height: 1;
  font-size: 1.5vh;
  align-self: flex-start;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.h3___7LhD {
  font-weight: 400;
  text-align: left;
  line-height: 1;
  font-size: 1.5vh;
  align-self: flex-start;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__x7GjE {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 3vh;
  padding-top: 3vh;
  padding-right: 3vh;
  min-width: 0;
}
.h1 {
  width: 80%;
  height: auto;
  max-width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 3vh;
  font-weight: 700;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: -1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__qwlFc {
  display: flex;
  position: relative;
  height: 4vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  padding-right: 1vw;
  padding-left: 1vw;
  border-radius: 10px;
}
.h5 {
  height: auto;
  max-width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: 100%;
  min-width: 0;
}
.freeBox__pqaAy {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 45vh;
  max-width: 100%;
  background: var(--token-lH8rUUEt1F7b);
  margin-top: 2vh;
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 10px;
  padding: 3vh;
}
.img__phaWz {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  min-width: 0;
  border-radius: 10px;
}
.img__phaWz > picture > img {
  object-fit: cover;
}
.freeBox___4CNYr {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__qdv4Y {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.img__ytQs4 {
  width: 100%;
  object-fit: cover;
  height: 100%;
  cursor: pointer;
  min-width: 0;
  min-height: 0;
  border-radius: 10px;
}
.img__ytQs4 > picture > img {
  object-fit: cover;
}
.img__yd5SM {
  width: 100%;
  object-fit: cover;
  height: 100%;
  cursor: pointer;
  min-width: 0;
  min-height: 0;
  border-radius: 10px;
}
.img__yd5SM > picture > img {
  object-fit: cover;
}
.freeBox__hCssZ {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.img__mt93Z {
  width: 100%;
  object-fit: cover;
  height: 100%;
  cursor: pointer;
  min-width: 0;
  min-height: 0;
  border-radius: 10px;
}
.img__mt93Z > picture > img {
  object-fit: cover;
}
.freeBox___0Mecn {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  min-width: 0;
  min-height: 0;
  border-radius: 10px;
}
.img__hrYko {
  width: 100%;
  object-fit: cover;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  min-width: 0;
  min-height: 0;
  border-radius: 10px;
}
.img__hrYko > picture > img {
  object-fit: cover;
}
.freeBox__j7Zg {
  display: block;
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
  height: 100%;
  background: #22222299;
  min-width: 0;
  min-height: 0;
}
.text__tr3Fs {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
  height: 100%;
  font-size: 1.5vh;
  color: var(--token-lH8rUUEt1F7b);
  font-weight: 500;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  min-height: 0;
}
.freeBox___93VG {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 2vh;
  min-width: 0;
}
.freeBox___7Lttk {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 75%;
  height: auto;
  max-width: 100%;
  position: relative;
}
.freeBox__fyByp {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 8vh;
  max-width: 100%;
  background: var(--token-lH8rUUEt1F7b);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 10px;
}
.freeBox__zntRo {
  width: 25%;
  height: 60%;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  padding-left: 1vw;
  padding-right: 1vw;
  align-self: center;
  border-right: 1px solid #2222224d;
}
.embedHtml___5Fac:global(.__wab_instance) {
  object-fit: cover;
  align-self: center;
  display: grid;
  align-content: center;
  justify-items: center;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.embedHtml___5Fac > * {
  grid-column: 4;
}
.freeBox__nRmjU {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  align-self: flex-end;
  min-width: 0;
  min-height: 0;
}
.text__ljzP {
  position: relative;
  width: 100%;
  height: auto;
  font-size: 1.25vh;
  text-align: left;
  line-height: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text__naNc1 {
  position: relative;
  width: 100%;
  height: auto;
  font-size: 2vh;
  text-align: left;
  line-height: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #535353;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.freeBox__asfPx {
  width: 25%;
  height: 60%;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  padding-left: 1vw;
  padding-right: 1vw;
  align-self: center;
  border-right: 1px solid #2222224d;
}
.embedHtml__bv4Gh:global(.__wab_instance) {
  object-fit: cover;
  align-self: center;
}
.freeBox___9O08T {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  align-self: flex-end;
  min-width: 0;
  min-height: 0;
}
.text__yik1F {
  position: relative;
  width: 100%;
  height: auto;
  font-size: 1.25vh;
  text-align: left;
  line-height: 1;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text__uva9Z {
  position: relative;
  width: 100%;
  height: auto;
  font-size: 2vh;
  text-align: left;
  line-height: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #535353;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.freeBox__e14IY {
  width: 25%;
  height: 60%;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  padding-left: 1vw;
  padding-right: 1vw;
  align-self: center;
  border-right: 1px solid #2222224d;
}
.embedHtml__cv64N:global(.__wab_instance) {
  object-fit: cover;
  align-self: center;
}
.freeBox__jzEV {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  align-self: flex-end;
  min-width: 0;
  min-height: 0;
}
.text__zPpDw {
  position: relative;
  width: 100%;
  height: auto;
  font-size: 1.25vh;
  text-align: left;
  line-height: 1;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text__d8XDy {
  position: relative;
  width: 100%;
  height: auto;
  font-size: 2vh;
  text-align: left;
  line-height: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #535353;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.freeBox__bpCH {
  width: 25%;
  height: 60%;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  padding-left: 1vw;
  padding-right: 1vw;
  align-self: center;
}
.embedHtml__psRBy:global(.__wab_instance) {
  object-fit: cover;
  align-self: center;
}
.freeBox___6Hzo5 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  align-self: flex-end;
  min-width: 0;
  min-height: 0;
}
.text__bVlwi {
  position: relative;
  width: 100%;
  height: auto;
  font-size: 1.25vh;
  text-align: left;
  line-height: 1;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text__yoa6A {
  position: relative;
  width: 100%;
  height: auto;
  font-size: 2vh;
  text-align: left;
  line-height: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #535353;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.freeBox__jAepK {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-lH8rUUEt1F7b);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  border-radius: 10px;
  padding: 3vh;
}
.h4__gmweE {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 1.5vh;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.3;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text__bi4H2 {
  font-size: 1.5vh;
  text-align: left;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__sl7G3 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-lH8rUUEt1F7b);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  border-radius: 10px;
  padding: 3vh;
}
.h4__mbezl {
  height: auto;
  max-width: 100%;
  font-size: 1.5vh;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.3;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text___6FwUf {
  font-size: 1.75vh;
  text-align: left;
  height: auto;
  color: #0f176d;
  font-weight: 600;
}
.freeBox__rToiv {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 25%;
  max-width: 100%;
  background: var(--token-lH8rUUEt1F7b);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.section___8HO0 {
  display: grid;
  position: fixed;
  align-content: space-between;
  justify-items: center;
  width: 100%;
  height: 100vh;
  left: 0px;
  top: 0px;
  z-index: 1;
  background: #000000bf;
  padding-top: 8vh;
  padding-bottom: 4vh;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section___8HO0 > * {
  grid-column: 4;
}
.freeBox__njbn2 {
  display: grid;
  position: relative;
  width: 100%;
  align-content: center;
  justify-items: center;
  height: 10vh;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.freeBox__njbn2 > * {
  grid-column: 4;
}
.button:global(.__wab_instance) {
  max-width: 100%;
}
.svg__koR6S {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__fy97W {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__oHrQm {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-left: 5vw;
  padding-right: 5vw;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
}
.svg__urtaX {
  object-fit: cover;
  color: #ffffff;
  height: 75px;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(90deg);
  cursor: pointer;
}
.img__w57Q5 {
  object-fit: cover;
  height: 100%;
  min-height: 0;
  border-radius: 20px;
}
.img__w57Q5 > picture > img {
  object-fit: cover;
}
.svg__bflJn {
  object-fit: cover;
  color: #ffffff;
  height: 75px;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(-90deg);
  pointer-events: auto;
  cursor: pointer;
}
.freeBox__fEllL {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 10vh;
  min-width: 0;
}
.img__udEoZ {
  object-fit: cover;
  width: 10%;
  height: 6vh;
  cursor: pointer;
  border-radius: 10px;
}
.img__udEoZ > picture > img {
  object-fit: cover;
}
.embedHtml__cbVj:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: none;
}
