.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-SvsjutmPTEgj);
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.section__zJygE {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__zJygE > * {
  grid-column: 4;
}
.header:global(.__wab_instance) {
  position: sticky;
  left: 0px;
  top: 0px;
  z-index: 1;
}
.main {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.main > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .main {
    height: 110vh;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .main > * {
    grid-column: 4;
  }
}
.testButton:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__waZiS {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.dashboard {
  display: flex;
  width: 15vw;
  flex-direction: column;
  flex-shrink: 0;
}
.link__yzsLj {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: var(--token-DbGdjBpQ6R_X);
  height: 6vh;
  cursor: pointer;
  min-width: 0;
  flex-shrink: 0;
}
.h4__n1Kh {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.link__t3A7 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: var(--token-DbGdjBpQ6R_X);
  height: 6vh;
  cursor: pointer;
  min-width: 0;
  flex-shrink: 0;
}
.h4__eQnjY {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.link__poz9K {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: var(--token-DbGdjBpQ6R_X);
  height: 6vh;
  cursor: pointer;
  min-width: 0;
  flex-shrink: 0;
}
.h4__yxIzV {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.link___7Enl3 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: var(--token-DbGdjBpQ6R_X);
  height: 6vh;
  cursor: pointer;
  min-width: 0;
  flex-shrink: 0;
}
.h4__dDopz {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.link__ltdXo {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: var(--token-DbGdjBpQ6R_X);
  height: 6vh;
  cursor: pointer;
  min-width: 0;
  flex-shrink: 0;
}
.h4___82XFa {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.body {
  display: flex;
  width: 85vw;
  flex-direction: column;
  flex-shrink: 0;
}
.aktivity {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  min-width: 0;
  -webkit-transition-property: opacity;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
  padding: 3vh 5vw 5vh 3vw;
}
.h3 {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.form:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  min-width: 0;
}
.freeBox__i0SiS {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.left2 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background: var(--token-lH8rUUEt1F7b);
  min-width: 0;
  border-radius: 10px;
  padding: 3vh 2vw 5vh;
}
.freeBox__hy7Sg {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__o08R {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__o08R {
    display: flex;
    flex-direction: column;
  }
}
.h4__ncQ72 {
  width: 17.5%;
  height: auto;
  font-size: 1.25vh;
  align-self: center;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4__ncQ72 {
    width: 100%;
    align-self: flex-start;
    min-width: 0;
  }
}
.formField__oUaOb:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.name:global(.__wab_instance) {
  max-width: 100%;
}
.svg__h28Wi {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__f9Ayu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___4Xelp {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4Xelp {
    display: flex;
    flex-direction: column;
  }
}
.h4__hgDhv {
  width: 17.5%;
  font-size: 1.25vh;
  align-self: center;
  flex-shrink: 0;
  flex-grow: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4__hgDhv {
    width: 100%;
    align-self: flex-start;
    min-width: 0;
  }
}
.date2:global(.__wab_instance) {
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.h4__e92Sr {
  width: 17.5%;
  font-size: 1.25vh;
  align-self: center;
  flex-shrink: 0;
  flex-grow: 0;
  margin-left: 1vw;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4__e92Sr {
    width: 100%;
    min-width: 0;
  }
}
.formField__ko4W2:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.repeat:global(.__wab_instance) {
  object-fit: cover;
  width: 100%;
  height: 3vh;
  min-width: 0;
}
.repeat :global(.ant-select-selector):global(.ant-select-selector) {
  color: var(--token-2-Zse-9pAL_o);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.25vh;
  background: var(--token-DbGdjBpQ6R_X);
  outline: none;
}
.repeat
  :global(.ant-select-selector)
  :global(.ant-select-selection-placeholder) {
  color: #22222266;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.15vh;
  font-style: italic;
  outline: none;
}
.pcls_chHMORe8YbKf {
  font-family: "Inter", sans-serif;
  color: var(--token-2-Zse-9pAL_o);
  font-weight: 600;
  font-size: 1.5vh;
  outline: none;
}
.repeat__popup:global(.ant-select-dropdown) :global(.ant-select-item-option) {
  color: var(--token-2-Zse-9pAL_o);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.25vh;
  outline: none;
}
.text__l7BcR {
  font-weight: 600;
  font-size: 1.15vh;
  font-family: "Inter", sans-serif;
}
.freeBox__rcrCr {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rcrCr {
    display: flex;
    flex-direction: column;
  }
}
.h4__d5VGd {
  width: 17.5%;
  font-size: 1.25vh;
  align-self: center;
  flex-shrink: 0;
  flex-grow: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4__d5VGd {
    width: 100%;
    min-width: 0;
  }
}
.startTime:global(.__wab_instance) {
  max-width: 100%;
}
.svg__epoUp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__oo3Uo {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.h4__ulSwh {
  width: 17.5%;
  font-size: 1.25vh;
  align-self: center;
  flex-shrink: 0;
  flex-grow: 0;
  margin-left: 1vw;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4__ulSwh {
    width: 100%;
    min-width: 0;
  }
}
.duration:global(.__wab_instance) {
  max-width: 100%;
}
.svg__t430X {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__qNuU {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__pJcmt {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pJcmt {
    display: flex;
    flex-direction: column;
  }
}
.h4__x1RvW {
  width: 17.5%;
  font-size: 1.25vh;
  flex-shrink: 0;
  flex-grow: 0;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4__x1RvW {
    width: 100%;
    min-width: 0;
  }
}
.capacity:global(.__wab_instance) {
  max-width: 100%;
}
.svg___8PvPv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__wYeHh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.h4__hm4RY {
  width: 17.5%;
  font-size: 1.25vh;
  flex-shrink: 0;
  flex-grow: 0;
  margin-left: 1vw;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4__hm4RY {
    width: 100%;
    min-width: 0;
  }
}
.formField__g1NvT:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.priceSelect:global(.__wab_instance) {
  object-fit: cover;
  width: 100%;
  height: 3vh;
  min-width: 0;
}
.priceSelect :global(.ant-select-selector):global(.ant-select-selector) {
  background: var(--token-DbGdjBpQ6R_X);
  color: var(--token-2-Zse-9pAL_o);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.25vh;
  outline: none;
}
.priceSelect
  :global(.ant-select-selector)
  :global(.ant-select-selection-placeholder) {
  color: #22222266;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.15vh;
  font-style: italic;
  outline: none;
}
.pcls_sdxbIgazF3wN {
  font-family: "Inter", sans-serif;
  color: var(--token-2-Zse-9pAL_o);
  font-weight: 600;
  font-size: 1.5vh;
  outline: none;
}
.priceSelect__popup:global(.ant-select-dropdown)
  :global(.ant-select-item-option) {
  color: var(--token-2-Zse-9pAL_o);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.25vh;
  outline: none;
}
.text__ufWeo {
  font-weight: 600;
  font-size: 1.15vh;
  font-family: "Inter", sans-serif;
}
.freeBox__eNkdi {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 50%;
  align-self: flex-end;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eNkdi {
    display: flex;
    flex-direction: column;
  }
}
.h4___6Cn9U {
  width: 35%;
  font-size: 1.25vh;
  flex-shrink: 0;
  flex-grow: 0;
  align-self: center;
  margin-left: 0.5vw;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4___6Cn9U {
    width: 100%;
    min-width: 0;
  }
}
.setPrice:global(.__wab_instance) {
  max-width: 100%;
}
.svg__effoa {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__nzo1Z {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___6NNW {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6NNW {
    display: flex;
    flex-direction: column;
  }
}
.h4__jkEnU {
  width: 17.5%;
  font-size: 1.25vh;
  flex-shrink: 0;
  flex-grow: 0;
  align-self: center;
}
.freeBox__l0CyA {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__l0CyA {
    display: flex;
    flex-direction: column;
  }
}
.checkbox:global(.__wab_instance) {
  object-fit: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  width: 25%;
  flex-shrink: 0;
  padding-bottom: 0.5vh;
}
@media (min-width: 0px) and (max-width: 768px) {
  .checkbox:global(.__wab_instance) {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 0;
  }
}
.text___576 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 1.15vh;
  min-width: 0;
}
.checkbox2:global(.__wab_instance) {
  object-fit: cover;
  width: 25%;
  flex-shrink: 0;
  padding-bottom: 0.5vh;
}
@media (min-width: 0px) and (max-width: 768px) {
  .checkbox2:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.text__yL2Ey {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 1.15vh;
  min-width: 0;
}
.checkbox3:global(.__wab_instance) {
  object-fit: cover;
  width: 25%;
  flex-shrink: 0;
  padding-bottom: 0.5vh;
}
@media (min-width: 0px) and (max-width: 768px) {
  .checkbox3:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.text__gl5E5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 1.15vh;
  font-weight: 600;
  min-width: 0;
}
.checkbox4:global(.__wab_instance) {
  object-fit: cover;
  width: 25%;
  flex-shrink: 0;
  padding-bottom: 0.5vh;
}
@media (min-width: 0px) and (max-width: 768px) {
  .checkbox4:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.text___9TDyd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 1.15vh;
  font-weight: 600;
  min-width: 0;
}
.checkbox5:global(.__wab_instance) {
  object-fit: cover;
  width: 25%;
  flex-shrink: 0;
  padding-bottom: 0.5vh;
}
@media (min-width: 0px) and (max-width: 768px) {
  .checkbox5:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.text__uegqg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 1.15vh;
  font-weight: 600;
  min-width: 0;
}
.checkbox6:global(.__wab_instance) {
  object-fit: cover;
  width: 25%;
  flex-shrink: 0;
  padding-bottom: 0.5vh;
}
@media (min-width: 0px) and (max-width: 768px) {
  .checkbox6:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.text__lHXkV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 1.15vh;
  font-weight: 600;
  min-width: 0;
}
.checkbox7:global(.__wab_instance) {
  object-fit: cover;
  width: 25%;
  flex-shrink: 0;
  padding-bottom: 0.5vh;
}
@media (min-width: 0px) and (max-width: 768px) {
  .checkbox7:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.text__n0B4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 1.15vh;
  font-weight: 600;
  min-width: 0;
}
.checkbox8:global(.__wab_instance) {
  object-fit: cover;
  width: 25%;
  flex-shrink: 0;
  padding-bottom: 0.5vh;
}
@media (min-width: 0px) and (max-width: 768px) {
  .checkbox8:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.text__scIl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 1.15vh;
  font-weight: 600;
  min-width: 0;
}
.freeBox__hqEo {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 3vh;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hqEo {
    display: flex;
    flex-direction: column;
  }
}
.h4__u2IpU {
  width: 17.5%;
  font-size: 1.25vh;
  align-self: flex-end;
  flex-shrink: 0;
  flex-grow: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4__u2IpU {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__tj1E3 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tj1E3 {
    display: flex;
    flex-direction: column;
  }
}
.h4___8ORtC {
  width: 17.5%;
  font-size: 1.25vh;
  flex-shrink: 0;
  flex-grow: 0;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4___8ORtC {
    width: 100%;
    min-width: 0;
  }
}
.street:global(.__wab_instance) {
  max-width: 100%;
}
.svg__jsJpa {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___9Xl9L {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___34TfF {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___34TfF {
    display: flex;
    flex-direction: column;
  }
}
.h4__gNg6P {
  width: 17.5%;
  font-size: 1.25vh;
  flex-shrink: 0;
  flex-grow: 0;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4__gNg6P {
    width: 100%;
    min-width: 0;
  }
}
.formField__rZzTy:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.citySelect:global(.__wab_instance) {
  object-fit: cover;
  width: 100%;
  height: 3vh;
  min-width: 0;
}
.citySelect :global(.ant-select-selector):global(.ant-select-selector) {
  background: var(--token-DbGdjBpQ6R_X);
  color: var(--token-2-Zse-9pAL_o);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.25vh;
  outline: none;
}
.citySelect
  :global(.ant-select-selector)
  :global(.ant-select-selection-placeholder) {
  color: #22222266;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.25vh;
  outline: none;
}
.pcls_zt5n6awvn-rc {
  font-family: "Inter", sans-serif;
  color: var(--token-2-Zse-9pAL_o);
  font-weight: 600;
  font-size: 1.5vh;
  outline: none;
}
.citySelect__popup:global(.ant-select-dropdown)
  :global(.ant-select-item-option) {
  color: var(--token-2-Zse-9pAL_o);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.25vh;
  outline: none;
}
.text__cdRbw {
  font-weight: 600;
  font-size: 1.15vh;
  font-family: "Inter", sans-serif;
  font-style: italic;
}
.h4__xFo6W {
  width: 17.5%;
  font-size: 1.25vh;
  flex-shrink: 0;
  flex-grow: 0;
  margin-left: 1vw;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4__xFo6W {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__tj97Y {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.adPop:global(.__wab_instance) {
  max-width: 100%;
  width: 66%;
}
.svg__q8Alu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__rZkkE {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.h4__hwyJt {
  font-size: 1.25vh;
  align-self: center;
  flex-shrink: 0;
  flex-grow: 0;
}
.adOr:global(.__wab_instance) {
  max-width: 100%;
  width: 34%;
}
.svg__wrLd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__jibH {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__qSmQ {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qSmQ {
    display: flex;
    flex-direction: column;
  }
}
.h4__rFtmQ {
  width: 17.5%;
  font-size: 1.25vh;
  flex-shrink: 0;
  flex-grow: 0;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4__rFtmQ {
    width: 100%;
    min-width: 0;
  }
}
.category:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.categorySelect:global(.__wab_instance) {
  object-fit: cover;
  width: 100%;
  height: 3vh;
  min-width: 0;
}
.categorySelect :global(.ant-select-selector):global(.ant-select-selector) {
  background: var(--token-DbGdjBpQ6R_X);
  color: var(--token-2-Zse-9pAL_o);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.25vh;
  outline: none;
}
.categorySelect
  :global(.ant-select-selector)
  :global(.ant-select-selection-placeholder) {
  color: #22222266;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.25vh;
  outline: none;
}
.pcls_Cl9XO9_bTbqo {
  font-family: "Inter", sans-serif;
  color: var(--token-2-Zse-9pAL_o);
  font-weight: 600;
  font-size: 1.5vh;
  outline: none;
}
.categorySelect__popup:global(.ant-select-dropdown)
  :global(.ant-select-item-option) {
  color: var(--token-2-Zse-9pAL_o);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.25vh;
  outline: none;
}
.text__ituDl {
  font-weight: 600;
  font-size: 1.15vh;
  font-family: "Inter", sans-serif;
  font-style: italic;
}
.h4__upTqL {
  width: 17.5%;
  font-size: 1.25vh;
  flex-shrink: 0;
  flex-grow: 0;
  margin-left: 1vw;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4__upTqL {
    width: 100%;
    min-width: 0;
  }
}
.formField__sKe0W:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.subCategorySelect:global(.__wab_instance) {
  object-fit: cover;
  width: 100%;
  height: 3vh;
  min-width: 0;
}
.subCategorySelect :global(.ant-select-selector):global(.ant-select-selector) {
  background: var(--token-DbGdjBpQ6R_X);
  color: var(--token-2-Zse-9pAL_o);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.25vh;
  outline: none;
}
.subCategorySelect
  :global(.ant-select-selector)
  :global(.ant-select-selection-placeholder) {
  color: #22222266;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.25vh;
  outline: none;
}
.pcls_Qw1JrP4ytkQc {
  font-family: "Inter", sans-serif;
  color: var(--token-2-Zse-9pAL_o);
  font-weight: 600;
  font-size: 1.5vh;
  outline: none;
}
.subCategorySelect__popup:global(.ant-select-dropdown)
  :global(.ant-select-item-option) {
  color: var(--token-2-Zse-9pAL_o);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.25vh;
  outline: none;
}
.text__c1DDm {
  font-weight: 600;
  font-size: 1.15vh;
  font-family: "Inter", sans-serif;
  font-style: italic;
}
.freeBox__eR4VE {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-shrink: 0;
  padding-bottom: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eR4VE {
    display: flex;
    flex-direction: column;
  }
}
.h4__dlqup {
  width: 17.5%;
  font-size: 1.25vh;
  flex-shrink: 0;
  flex-grow: 0;
  position: relative;
  align-self: center;
}
.formField__xro5K:global(.__wab_instance) {
  object-fit: cover;
  position: relative;
  width: 100%;
  flex-shrink: 1;
  flex-grow: 0;
  min-width: 0;
}
.textArea:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__xxosx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.right {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  background: var(--token-lH8rUUEt1F7b);
  min-width: 0;
  border-radius: 10px;
  padding: 3vh 2vw 5vh;
}
.freeBox__gzrYo {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 3vh;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gzrYo {
    display: flex;
    flex-direction: column;
  }
}
.h4__nErA5 {
  width: 100%;
  height: auto;
  font-size: 1.25vh;
  align-self: center;
  flex-shrink: 0;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4__nErA5 {
    width: 100%;
    align-self: flex-start;
    min-width: 0;
  }
}
.section__e0B1X {
  display: flex;
  position: relative;
  width: 40%;
  flex-direction: row;
  height: 15vh;
  justify-content: center;
  align-items: center;
  background: var(--token-DbGdjBpQ6R_X);
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 5px;
}
.upload:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 20px;
  z-index: 0;
  position: absolute;
}
.button__neiOu:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 12px;
}
.text__ikl2X {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.img__g15Uq {
  object-fit: cover;
  z-index: 1;
  position: absolute;
  max-width: 100%;
}
.img__g15Uq > picture > img {
  object-fit: cover;
}
.button__iggPo:global(.__wab_instance) {
  object-fit: cover;
  max-width: 100%;
  transform: scaleX(0.75) scaleY(0.75) scaleZ(0.75);
  margin-right: 0.25vw;
  margin-top: 0.25vh;
  z-index: 2;
  right: 0;
  top: 0;
  position: absolute;
  transform-origin: 100% 0%;
  transform-style: preserve-3d;
}
.button__iggPo * {
  transform-style: preserve-3d;
}
.text__ygFD {
  position: relative;
  height: auto;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.freeBox__p3Sqh {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 3vh;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__p3Sqh {
    display: flex;
    flex-direction: column;
  }
}
.h4__gzSwm {
  width: 100%;
  height: auto;
  font-size: 1.25vh;
  align-self: center;
  flex-shrink: 0;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4__gzSwm {
    width: 100%;
    align-self: flex-start;
    min-width: 0;
  }
}
.upload2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button___7WSX:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__sWzKq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__jWS7 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
  min-width: 0;
}
.link__w7Xpf {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 20%;
  height: 9vh;
  overflow: hidden;
  border-radius: 5px;
}
.img__vugig {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__vugig > picture > img {
  object-fit: cover;
}
.button__awQit:global(.__wab_instance) {
  object-fit: cover;
  max-width: 100%;
  transform: scaleX(0.75) scaleY(0.75) scaleZ(0.75);
  margin-right: 0.25vw;
  margin-top: 0.25vh;
  z-index: 2;
  top: 0;
  position: absolute;
  transform-origin: 100% 0%;
  left: auto;
  right: 0;
  transform-style: preserve-3d;
}
.button__awQit * {
  transform-style: preserve-3d;
}
.text__hNbBb {
  position: relative;
  height: auto;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.button__dyyqE:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  margin-top: 2vh;
}
.text___1DEvX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__xPpAq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__owaYq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__b7K8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__wuEVh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.eventRegistration:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
