.root:global(.__wab_instance) {
  position: relative;
  color: var(--token-ORXc5weIxBux);
  font-family: var(--token-njbZET6sYJ2Y);
  font-size: var(--token-nePE6FxtjySY);
  line-height: var(--token-T1kY_QqCmcpM);
}
.freeBox {
  position: relative;
  display: flex;
  flex-direction: row;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - var(--token-w3ckJmqTKFoR));
  width: calc(100% + var(--token-w3ckJmqTKFoR));
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-w3ckJmqTKFoR);
}
.slotTargetChildrensize_sm {
  font-size: var(--token-Vn1k2_ey8vd0);
  line-height: var(--token-60cobwWfv1oD);
}
.slotTargetChildrensize_lg {
  font-size: var(--token-xnC1pn5ufzMB);
  line-height: var(--token-lcclyovDoiC_);
}
.text {
  position: relative;
  display: none;
}
.textrequirementIndicator_optional {
  color: var(--token-CIK0ntguFpri);
  display: block;
}
.textrequirementIndicator_required {
  color: var(--token-PYK52BJYJXxZ);
  display: block;
}
